USE [master]
GO
/****** Object:  Database [MOPCPujol]    Script Date: 2/8/2018 10:45:56 PM ******/
CREATE DATABASE [MOPCPujol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOPCPujol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MOPCPujol.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOPCPujol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MOPCPujol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOPCPujol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOPCPujol]
GO
USE [MOPCPujol]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/8/2018 10:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro]    Script Date: 2/8/2018 10:45:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Cedula] [nvarchar](13) NULL,
	[Cometario] [nvarchar](max) NULL,
	[ContentType] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[FileData] [varbinary](max) NULL,
	[Municipio] [nvarchar](15) NULL,
	[Nombre] [nvarchar](150) NULL,
	[PosicionCargo] [nvarchar](100) NULL,
	[Provincia] [nvarchar](100) NULL,
	[RNC] [nvarchar](15) NULL,
	[RazonSocial] [nvarchar](150) NULL,
	[RepresentaInstitucion] [bit] NOT NULL,
	[Telefono] [nvarchar](15) NULL,
 CONSTRAINT [PK_Registro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180209015857_initial', N'2.0.1-rtm-125')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180209020231_initial1', N'2.0.1-rtm-125')
USE [master]
GO
